<div class="flex justify-center align-middle flex-col   ">
    <form #login="ngForm" (ngSubmit)="onSubmit(login.form)">
        <mat-form-field class="w-full mb-1">
            <mat-label>add todo</mat-label>
            <input matInput placeholder="take out trash..." name="todoContent" [(ngModel)]="formData.content">
        </mat-form-field>
        <br>
        <!--  -->
        <button mat-raised-button class="w-full h-[40px]" color="primary" type="submit">Submit</button>
    </form>
</div>


